{% extends 'user.html.twig' %}

{% block title %}Register User{% endblock %}

{% block central %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registerUserType) }}
               <div class="form-group">{{ form_row(registerUserType.firstname,{'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(registerUserType.lastname,{'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(registerUserType.email,{'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(registerUserType.password.first,{'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(registerUserType.password.second,{'attr':{'class':'form-control'}}) }}</div>
        {{ form_row(registerUserType.agreeTerms) }}

     <button class="btn btn-lg btn-primary" type="submit">
        Register
    </button>
    {{ form_end(registerUserType) }}

{% endblock %}
