{% extends 'user.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block central %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message|raw }}
            </div>
             {% endfor %}
    <h1>Liste des utilisateurs</h1>

    <table class="table table-striped">
        <thead>
            <th  scope="col">ID</th>
            <th  scope="col">Email</th>
            <th  scope="col">Rôles</th>
            <th  scope="col">Modifier</th>
            <th  scope="col">Supprimer</th>
            <th  scope="col">Options</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
 
            {% for user in users %}

                <tr scope="row">
                {% if app.user.email == user.email%}
                {% else %}
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {# On boucle sur les rôles #}
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('modifier_utilisateur', {'id': user.id}) }}">Modifier</a></td>
                     <td><a href="{{ path('supprimer_utilisateur', {'id': user.id}) }}">Supprimer</a></td>
                      {% if (user.ActivationToken == null)%}
                       <td><a href="{{ path('desactiver_utilisateur', {'id': user.id}) }}">Desactiver</a></td>
                       {% else%}
                         <td><a href="{{ path('activer_utilisateur', {'id': user.id}) }}">Activer</a></td>
                         {% endif %}
                </tr>
                {% endif%}
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
