<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" >
		<title>
			{% block title %}<h1>My_quizz!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

	</head>
<body>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
		{% for message in app.flashes('error') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
<div class="header">
    <div class="row menu">
		<nav class="navbar navbar-expand-lg  col">
			<div class="title">
		<span><a class="navbar-brand logo" href="{{ path('home')}}">&nbsp;&nbsp;My_quizz</a></span>
			</div>

			    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<a class="link btn btn-outline-success" href="{{ path('show_profil') }}">Mon Compte</a>
			<a class="link" href="{{ path('app_logout') }}">Déconnection</a>
				{% else %}
			<a class="link cn" href="{{path("app_login") }}">Se connecter &nbsp; </a>
			<a class="link btn btn-outline-success" href="{{path("app_register") }}">s'inscrire</a>
				{% endif %}

		</nav>
	</div>

    <div class="row ">
        <div class="col-2 menu-categorie position-sticky">
            <h2>Catégories</h2>
			<nav class="nav flex-column">
			 {% for categorie in categories %}
				<a  class="nav-link" href="/categorie/{{categorie.name}}">{{categorie.name}}</a>
				{% endfor %}
			</nav>
			   		
		</div>

		<div class="col contenue-central">  
			{% block central %}{% endblock %}
		</div>

	</div>

</div>
</body>
</html>
