{% extends 'base.html.twig' %}
{% block central %}

<div class="container-fluid">

	<div class="row contenue">

		<div class="col contenue-central">
		<h3>Tu as eu un score de {{score}} %</h3>
        <p>correction:</p>
			<div class="row question">
             {% for results in result %}
          <h3>Question {{results.index_ques}} : {{results.question}}  </h3>
		  <p>tu as repondu : {{results.repUser}}
		 {% if results.result_repUser == 0 %}
		    <p>😞 mauvaise reponse</p>
			<p>la bonne reponse est : {{results.corect}}</p>
			{% else %}
			<p>😊 bonne reponse</p>

		 {% endif %}
		   
				
			 {% endfor %}
			</div>


	        <div class="row reponse">
				<ul>
			  
				</ul>
			</div>

		</div>
	</div>
</div>
{% endblock %}